<div class="sectionA">
    <img src="../../../assets/img/my-tomorrows-pharma-hd.jpg" alt="err" class="background">
    <app-header></app-header>
    <span class="title">
        Welcome to mytomorrows medics database
    </span>
    <a href="#" class="right">
        <mat-icon>arrow_forward_ios</mat-icon>
    </a>
    <a href="#" class="left">
        <mat-icon>arrow_back_ios</mat-icon>
    </a>
    <span class="description">Lorem ipsum dolor sit amet. Eum explicabo necessitatibus quo rerum voluptatem est molestiae repudiandae ut voluptatibus quae qui mollitia voluptatem sed dolore explicabo. Id nihil internos id libero dolor in sint voluptas ut dicta adipisci </span>
    <button class="aboutus"> 
        About us
    </button>
    <button class="contactus"> 
        Contact us
    </button>
</div>