.container {
    position: absolute;
    width: 1359px;
    height: 263px;
    left: 1px;
    top: 1020px;

    background: #00A56A;
}

.text {
    position: absolute;
    width: 186px;
    height: 59px;
    left: 564px;
    top: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
/* identical to box height */


    color: #FFFFFF;

}