<div class="container">
    <img src="../../../assets/img/doliprane-paracetamol-300-mg-children-s-sachets-16-48-kg-pack-of-12.jpg" alt="err" class="img">
    <span class="title">
        Latest drugs in developement
    </span>
    <span class="dTitle">
        Doliprane 300mg
    </span>
    <span class="desc">
        Lorem ipsum dolor sit amet. Non repellendus quidem est tempore quisquam aut harum perspiciatis sit impedit soluta et enim doloremque. Qui excepturi voluptates ut possimus quasi sed alias aliquid eos ratione esse. Qui omnis tempore At illo porro est adipisci voluptas quo obcaecati exercitationem Lorem ipsum dolor sit amet. Est beatae voluptatrum amet in voluptatibus animi. Aut inventore incidunt ut...
    </span>
    <button class="explore">
        Explore more
    </button>
</div>